.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem; }
    .nav-link:hover, .nav-link:focus {
      text-decoration: none; }
    .nav-link.disabled {
      color: #6c757d; }
  
  .nav-tabs {
    border-bottom: 1px solid #dee2e6; }
    .nav-tabs .nav-item {
      margin-bottom: -1px; }
    .nav-tabs .nav-link {
      border: 1px solid transparent;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem; }
      .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
        border-color: #e9ecef #e9ecef #dee2e6; }
      .nav-tabs .nav-link.disabled {
        color: #6c757d;
        background-color: transparent;
        border-color: transparent; }
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      color: #495057;
      background-color: #fff;
      border-color: #dee2e6 #dee2e6 #fff; }
    .nav-tabs .dropdown-menu {
      margin-top: -1px;
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
  
  .nav-pills .nav-link {
    border-radius: 0.25rem; }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #007bff; }
  
  .nav-fill .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center; }
  
  .nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center; }
    .navbar {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem; }
        .navbar > .container,
        .navbar > .container-fluid {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
      
      .navbar-brand {
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap; }
        .navbar-brand:hover, .navbar-brand:focus {
          text-decoration: none; }
      
      .navbar-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none; }
        .navbar-nav .nav-link {
          padding-right: 0;
          padding-left: 0; }
        .navbar-nav .dropdown-menu {
          position: static;
          float: none; }
      
      .navbar-text {
        display: inline-block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem; }
      
      .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      
      .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem; }
        .navbar-toggler:hover, .navbar-toggler:focus {
          text-decoration: none; }
        .navbar-toggler:not(:disabled):not(.disabled) {
          cursor: pointer; }
      
      .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%; }
      
      @media (max-width: 575.98px) {
        .navbar-expand-sm > .container,
        .navbar-expand-sm > .container-fluid {
          padding-right: 0;
          padding-left: 0; } }
      
      @media (min-width: 576px) {
        .navbar-expand-sm {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start; }
          .navbar-expand-sm .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row; }
            .navbar-expand-sm .navbar-nav .dropdown-menu {
              position: absolute; }
            .navbar-expand-sm .navbar-nav .nav-link {
              padding-right: 0.5rem;
              padding-left: 0.5rem; }
          .navbar-expand-sm > .container,
          .navbar-expand-sm > .container-fluid {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
          .navbar-expand-sm .navbar-collapse {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto; }
          .navbar-expand-sm .navbar-toggler {
            display: none; } }
      
      @media (max-width: 767.98px) {
        .navbar-expand-md > .container,
        .navbar-expand-md > .container-fluid {
          padding-right: 0;
          padding-left: 0; } }
      
      @media (min-width: 768px) {
        .navbar-expand-md {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start; }
          .navbar-expand-md .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row; }
            .navbar-expand-md .navbar-nav .dropdown-menu {
              position: absolute; }
            .navbar-expand-md .navbar-nav .nav-link {
              padding-right: 0.5rem;
              padding-left: 0.5rem; }
          .navbar-expand-md > .container,
          .navbar-expand-md > .container-fluid {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
          .navbar-expand-md .navbar-collapse {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto; }
          .navbar-expand-md .navbar-toggler {
            display: none; } }
      
      @media (max-width: 991.98px) {
        .navbar-expand-lg > .container,
        .navbar-expand-lg > .container-fluid {
          padding-right: 0;
          padding-left: 0; } }
      
      @media (min-width: 992px) {
        .navbar-expand-lg {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start; }
          .navbar-expand-lg .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row; }
            .navbar-expand-lg .navbar-nav .dropdown-menu {
              position: absolute; }
            .navbar-expand-lg .navbar-nav .nav-link {
              padding-right: 0.5rem;
              padding-left: 0.5rem; }
          .navbar-expand-lg > .container,
          .navbar-expand-lg > .container-fluid {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
          .navbar-expand-lg .navbar-collapse {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto; }
          .navbar-expand-lg .navbar-toggler {
            display: none; } }
      
      @media (max-width: 1199.98px) {
        .navbar-expand-xl > .container,
        .navbar-expand-xl > .container-fluid {
          padding-right: 0;
          padding-left: 0; } }
      
      @media (min-width: 1200px) {
        .navbar-expand-xl {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start; }
          .navbar-expand-xl .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row; }
            .navbar-expand-xl .navbar-nav .dropdown-menu {
              position: absolute; }
            .navbar-expand-xl .navbar-nav .nav-link {
              padding-right: 0.5rem;
              padding-left: 0.5rem; }
          .navbar-expand-xl > .container,
          .navbar-expand-xl > .container-fluid {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
          .navbar-expand-xl .navbar-collapse {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto; }
          .navbar-expand-xl .navbar-toggler {
            display: none; } }
      
      .navbar-expand {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .navbar-expand > .container,
        .navbar-expand > .container-fluid {
          padding-right: 0;
          padding-left: 0; }
        .navbar-expand .navbar-nav {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row; }
          .navbar-expand .navbar-nav .dropdown-menu {
            position: absolute; }
          .navbar-expand .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem; }
        .navbar-expand > .container,
        .navbar-expand > .container-fluid {
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
        .navbar-expand .navbar-collapse {
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
          -ms-flex-preferred-size: auto;
          flex-basis: auto; }
        .navbar-expand .navbar-toggler {
          display: none; }
      
      .navbar-light .navbar-brand {
        color: rgba(0, 0, 0, 0.9); }
        .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
          color: rgba(0, 0, 0, 0.9); }
      
      .navbar-light .navbar-nav .nav-link {
        color: rgba(0, 0, 0, 0.5); }
        .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
          color: rgba(0, 0, 0, 0.7); }
        .navbar-light .navbar-nav .nav-link.disabled {
          color: rgba(0, 0, 0, 0.3); }
      
      .navbar-light .navbar-nav .show > .nav-link,
      .navbar-light .navbar-nav .active > .nav-link,
      .navbar-light .navbar-nav .nav-link.show,
      .navbar-light .navbar-nav .nav-link.active {
        color: rgba(0, 0, 0, 0.9); }
      
      .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.1); }
      
      .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
      
      .navbar-light .navbar-text {
        color: rgba(0, 0, 0, 0.5); }
        .navbar-light .navbar-text a {
          color: rgba(0, 0, 0, 0.9); }
          .navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
            color: rgba(0, 0, 0, 0.9); }
      
      .navbar-dark .navbar-brand {
        color: #fff; }
        .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
          color: #fff; }
      
      .navbar-dark .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 0.5); }
        .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
          color: rgba(255, 255, 255, 0.75); }
        .navbar-dark .navbar-nav .nav-link.disabled {
          color: rgba(255, 255, 255, 0.25); }
      
      .navbar-dark .navbar-nav .show > .nav-link,
      .navbar-dark .navbar-nav .active > .nav-link,
      .navbar-dark .navbar-nav .nav-link.show,
      .navbar-dark .navbar-nav .nav-link.active {
        color: #fff; }
      
      .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.1); }
      
      .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
      
      .navbar-dark .navbar-text {
        color: rgba(255, 255, 255, 0.5); }
        .navbar-dark .navbar-text a {
          color: #fff; }
          .navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
            color: #fff; }
.navbar {
    display: none; }        

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
      color: #fff;
      background-color: #0062cc;
      border-color: #005cbf; }
      .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
      .show > .btn-primary.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }
        .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
        .show > .btn-secondary.dropdown-toggle {
          color: #fff;
          background-color: #545b62;
          border-color: #4e555b; }
          .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
          .show > .btn-secondary.dropdown-toggle:focus {
            -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); }
            .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
            .show > .btn-success.dropdown-toggle {
              color: #fff;
              background-color: #1e7e34;
              border-color: #1c7430; }
              .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
              .show > .btn-success.dropdown-toggle:focus {
                -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
                box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }

                .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
                .show > .btn-warning.dropdown-toggle {
                  color: #212529;
                  background-color: #d39e00;
                  border-color: #c69500; }
                  .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
                  .show > .btn-warning.dropdown-toggle:focus {
                    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
                    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
                    .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
                    .show > .btn-danger.dropdown-toggle {
                      color: #fff;
                      background-color: #bd2130;
                      border-color: #b21f2d; }
                      .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
                      .show > .btn-danger.dropdown-toggle:focus {
                        -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
                        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
                        .dropup,
                        .dropright,
                        .dropdown,
                        .dropleft {
                          position: relative; }
                        
                        .dropdown-toggle::after {
                          display: inline-block;
                          width: 0;
                          height: 0;
                          margin-left: 0.255em;
                          vertical-align: 0.255em;
                          content: "";
                          border-top: 0.3em solid;
                          border-right: 0.3em solid transparent;
                          border-bottom: 0;
                          border-left: 0.3em solid transparent; }
                        
                        .dropdown-toggle:empty::after {
                          margin-left: 0; }
                        
                        .dropdown-menu {
                          position: absolute;
                          top: 100%;
                          left: 0;
                          z-index: 1000;
                          display: none;
                          float: left;
                          min-width: 10rem;
                          padding: 0.5rem 0;
                          margin: 0.125rem 0 0;
                          font-size: 1rem;
                          color: #212529;
                          text-align: left;
                          list-style: none;
                          background-color: #fff;
                          background-clip: padding-box;
                          border: 1px solid rgba(0, 0, 0, 0.15);
                          border-radius: 0.25rem; }
                        
                        .dropdown-menu-right {
                          right: 0;
                          left: auto; }
                        
                        .dropup .dropdown-menu {
                          top: auto;
                          bottom: 100%;
                          margin-top: 0;
                          margin-bottom: 0.125rem; }
                        
                        .dropup .dropdown-toggle::after {
                          display: inline-block;
                          width: 0;
                          height: 0;
                          margin-left: 0.255em;
                          vertical-align: 0.255em;
                          content: "";
                          border-top: 0;
                          border-right: 0.3em solid transparent;
                          border-bottom: 0.3em solid;
                          border-left: 0.3em solid transparent; }
                        
                        .dropup .dropdown-toggle:empty::after {
                          margin-left: 0; }
                        
                        .dropright .dropdown-menu {
                          top: 0;
                          right: auto;
                          left: 100%;
                          margin-top: 0;
                          margin-left: 0.125rem; }
                        
                        .dropright .dropdown-toggle::after {
                          display: inline-block;
                          width: 0;
                          height: 0;
                          margin-left: 0.255em;
                          vertical-align: 0.255em;
                          content: "";
                          border-top: 0.3em solid transparent;
                          border-right: 0;
                          border-bottom: 0.3em solid transparent;
                          border-left: 0.3em solid; }
                        
                        .dropright .dropdown-toggle:empty::after {
                          margin-left: 0; }
                        
                        .dropright .dropdown-toggle::after {
                          vertical-align: 0; }
                        
                        .dropleft .dropdown-menu {
                          top: 0;
                          right: 100%;
                          left: auto;
                          margin-top: 0;
                          margin-right: 0.125rem; }
                        
                        .dropleft .dropdown-toggle::after {
                          display: inline-block;
                          width: 0;
                          height: 0;
                          margin-left: 0.255em;
                          vertical-align: 0.255em;
                          content: ""; }
                        
                        .dropleft .dropdown-toggle::after {
                          display: none; }
                        
                        .dropleft .dropdown-toggle::before {
                          display: inline-block;
                          width: 0;
                          height: 0;
                          margin-right: 0.255em;
                          vertical-align: 0.255em;
                          content: "";
                          border-top: 0.3em solid transparent;
                          border-right: 0.3em solid;
                          border-bottom: 0.3em solid transparent; }
                        
                        .dropleft .dropdown-toggle:empty::after {
                          margin-left: 0; }
                        
                        .dropleft .dropdown-toggle::before {
                          vertical-align: 0; }
                        
                        .dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
                          right: auto;
                          bottom: auto; }
                        
                        .dropdown-divider {
                          height: 0;
                          margin: 0.5rem 0;
                          overflow: hidden;
                          border-top: 1px solid #e9ecef; }
                        
                        .dropdown-item {
                          display: block;
                          width: 100%;
                          padding: 0.25rem 1.5rem;
                          clear: both;
                          font-weight: 400;
                          color: #212529;
                          text-align: inherit;
                          white-space: nowrap;
                          background-color: transparent;
                          border: 0; }
                          .dropdown-item:hover, .dropdown-item:focus {
                            color: #16181b;
                            text-decoration: none;
                            background-color: #f8f9fa; }
                          .dropdown-item.active, .dropdown-item:active {
                            color: #fff;
                            text-decoration: none;
                            background-color: #007bff; }
                          .dropdown-item.disabled, .dropdown-item:disabled {
                            color: #6c757d;
                            background-color: transparent; }
                        
                        .dropdown-menu.show {
                          display: block; }
                        
                        .dropdown-header {
                          display: block;
                          padding: 0.5rem 1.5rem;
                          margin-bottom: 0;
                          font-size: 0.875rem;
                          color: #6c757d;
                          white-space: nowrap; }
                        
                        .dropdown-item-text {
                          display: block;
                          padding: 0.25rem 1.5rem;
                          color: #212529; }
                          .btn-group > .btn:not(:last-child):not(.dropdown-toggle),
                          .btn-group > .btn-group:not(:last-child) > .btn {
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0; }
                          
                          .btn-group > .btn:not(:first-child),
                          .btn-group > .btn-group:not(:first-child) > .btn {
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0; }
                          
                          .dropdown-toggle-split {
                            padding-right: 0.5625rem;
                            padding-left: 0.5625rem; }
                            .dropdown-toggle-split::after,
                            .dropup .dropdown-toggle-split::after,
                            .dropright .dropdown-toggle-split::after {
                              margin-left: 0; }
                            .dropleft .dropdown-toggle-split::before {
                              margin-right: 0; }
                          
                          .btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
                            padding-right: 0.375rem;
                            padding-left: 0.375rem; }
                          
                          .btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
                            padding-right: 0.75rem;
                            padding-left: 0.75rem; }
                            .btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle),
                            .btn-group-vertical > .btn-group:not(:last-child) > .btn {
                              border-bottom-right-radius: 0;
                              border-bottom-left-radius: 0; }

                              .input-group > .input-group-prepend > .btn,
                              .input-group > .input-group-prepend > .input-group-text,
                              .input-group > .input-group-append:not(:last-child) > .btn,
                              .input-group > .input-group-append:not(:last-child) > .input-group-text,
                              .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
                              .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0; }
                                @import "nav";
                                @import "navbar";
                                                                                    